@font-face {
    font-family: "HelveticaNeue-Light";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/HelveticaNeue-Light.woff") format("woff");
}

@font-face {
    font-family: "HelveticaNeue-Thin";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/HelveticaNeue-Thin.woff") format("woff");
}